@page "/"
@using ThoughtDatabase.Web.UI.Client.Layout
@inject NavigationManager _nav
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject SessionManagerService _session


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
	[CascadingParameter]
	public MainLayout MainLayout { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		string? tkn = await _localStorage.GetItemAsync<string>("token");
		if (string.IsNullOrWhiteSpace(tkn))
		{
			_nav.NavigateTo("login");
		}
		else if (!await _session.AuthenticateToken(tkn))
		{
			_nav.NavigateTo("login");
		}
		await MainLayout.Refresh();
		base.OnAfterRender(firstRender);
	}
}